RewriteEngine On

# Excluir archivos y directorios existentes de la reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Excluir archivos estáticos como documentos e imágenes de la reescritura
RewriteCond %{REQUEST_URI} !\.(doc|docx|xls|xlsx|ppt|pptx|pdf|jpg|jpeg|png|gif)$ [NC]

# Redirigir todas las demás solicitudes a index.php
RewriteRule ^(.*)$ index.php?ruta=$1 [L,QSA]

# Permitir el acceso a archivos con extensiones específicas
<FilesMatch "\.(doc|docx|xls|xlsx|ppt|pptx|pdf|jpg|jpeg|png|gif)$">
    Require all granted
</FilesMatch>
